<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    clonifyLogo: "<%= image_path("clonify-logo.png") %>",
    logo: "<%= image_path("logo.png") %>",
    checkmark: "<%= image_path("checkmark.png") %>",
    browseIcon: "<%= image_path("browse-icon.png") %>",
    followIcon: "<%= image_path("follow-icon.png") %>",
    yourMusicIcon: "<%= image_path("your-music-icon.png") %>"
  }
</script>

<main id="root"></main>
